<div class="new-form">
  <%= render 'shared/login_errors' %>
  <%= form_for(@document, url: { action: "create" }, html: { multipart: true, class: "dropzone dropzone-custom", id: "doc-dropzone"}) do |f|  %>
  <%= render 'messages' %>
    <div class="fallback">
      <%= f.file_field :document %><br>
      <%= f.submit "Upload" %>
    </div>
  <% end %>
</div>

