<!DOCTYPE html>
<html>
  <head>
    <title>BOALoanApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="https://www.bankofamerica.com/">
        <%= image_tag("BOA_logo.png", class: "d-inline-block align-top logo") %>
      </a>
      <% if logged_in? %>
        <%= button_to "Logout", logout_path, method: 'delete', class: 'btn btn-primary logout-button' %>
      <% end %>
    </nav>
    <div class="background-color">
      <%= yield %>
      <% unless current_page?(login_path) || logged_in? %>
        <%= link_to "BOA Login", login_path, action: 'new', class: 'login-link' %>
      <% end %>
    </div>
  </body>
</html>
