<!DOCTYPE html>
<html>
  <head>
    <title>BOALoanApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="https://www.bankofamerica.com/">
        <%= image_tag("BOA_logo.png", class: "d-inline-block align-top logo") %>
      </a>
      <% if logged_in? %>
        <%= button_to "Logout", logout_path, method: 'delete', class: 'btn btn-primary logout-button' %>
      <% else %>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <%= link_to "Login", login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item ">
            <%= link_to "Signup", signup_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </nav>
    <div class="background-color">
      <%= yield %>
    </div>
  </body>
</html>
